@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Jost";
    overflow: hidden;
  }

  .bgHome {
    background-image: url("/images/home/bg-home-2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page1 {
    background-image: url("/images/Page1/page1BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page2 {
    background-image: url("/images/Page2/page2BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page3 {
    background-image: url("/images/Page2/Sun_1.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page4 {
    background-image: url("/images/page4/page4BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page5 {
    background-image: url("/images/Page5/Page5BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page6 {
    background-image: url("/images/Page6/Page6BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page7 {
    background-image: url("/images/Page7/Page7BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .quizBG {
    background-image: url("/images/home/bg-home-2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
